### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/sonarlint/issuestore/c/3/c3bebe677c0ce4e6092a192c4802811e7bb9dbf1
.idea/sonarlint/issuestore/0/a/0af1b8fac2070a86d1131ba15e93dd7b384d4b84
.idea/sonarlint/issuestore/0/a/0af8bdaba23cc9750675911d9885d7cff10a404d
.idea/sonarlint/issuestore/6/1/61a8752b64fc7068611e4913eda3feb924751975
.idea/sonarlint/issuestore/9/2/924f089edb4af5ee45c8a9d1129cd28e2b368138
.idea/sonarlint/issuestore/index.pb
